*{
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
}

#gameCanvas {
    width: 1000px;
    height: 647px;

    padding: 0;

    background: url(../images/Map_Tartarus_Cage.jpg) no-repeat center center;
    background-size: cover;
    background-color: black;
    
}

/* 왜 변경이 안되는건지 모르겠어요 */
.custom-cursor {
    cursor: url('../images/custom_cursor.png'), auto;
}

.custom-cursor-pointer {
    cursor: url('../images/custom-cursor-pointer.gif'), pointer;
}